#codeTerminal{
	width:100%;
	border: black;
}

.green span{
	background: green !important;
	color: black !important;
}

@media only screen 
and (min-width : 1025px) {
    .userInput span{
		font-size: 4em !important;
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    .userInput span{
		font-size: 2em !important;
	}
}

@media only screen 
and (max-width : 767px) {
    .userInput span{
		font-size: 1em !important;
	}
}

span.stars, span.stars span {
    display: block;
    background: url(./stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

#message {
	color: lime;
	font-size: 2em;
}

#messageParent {
	background:black;
	height:10em;
	width:100%;
}

#userRatingParent{
	background:black;
	height:10em;
	width:100%;
}

#userRating {
	color: lime;
	font-size: 2em;
}
